<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title><%= siteName %> | <%= pageTitle %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/css/navigation_bar/navigation.css" />
    <link rel="stylesheet" href="/css/navigation_bar/navigation_media.css" />
    <link rel="stylesheet" href="/css/generic_styles/styles.css" />
    <link rel="stylesheet" href=<%= `/css/${template}/${template}.css` %> /> <link rel="stylesheet"
    href=<%= `/css/${template}/${template}_media.css` %> />
    <!--<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

  </head>
  <body>
    <header>
      <ul><%- include('./partials/navigation') %></ul>
    </header>
    
    <%- include(`../pages/${template}`) %>
    <!--<script src=<%= `/js/${template}/${template}_socket.js` %> ></script>-->
    <!--<script src=<%= `http://192.168.1.2:3000/js/${template}/${template}.js` %> ></script>-->
    <script src=<%= `/js/${template}/${template}.js` %> ></script>
  </body>
</html>
